@page
@model LoginModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="login.html" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به پشمک بلاگ خوش امودید</span>
                                </a>
                                <a asp-page="/register" class="register-ds">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در پشمک بلاگ</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ورود به حساب کاربری</h4>
                                    <form method="post" class="form-account text-right">
                                        <div class="form-account-title">
                                            <label asp-for="Username"></label>
                                            <input type="text" class="number-email-input" asp-for="Username">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>

                                        <div class="form-account-title">
                                            <label asp-for="Password"></label>
                                            <a href="#" class="account-link-password">رمز خود را فراموش کرده ام</a>
                                            <input type="password" class="password-input" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox mt-1">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me mr-0">مرا به خاطر بسپار</label>
                                        </div>
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">ورود به پشمک بلاگ</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />